body {
	/*background-color: #1b2b5d;*/
	background-image: -webkit-linear-gradient(top left, #1b2b5d 25%, #0889c6 100%);
	background-image: -o-linear-gradient(top left, #1b2b5d 25%, #0889c6 100%);
	background-image: linear-gradient(to bottom right, #1b2b5d 25%, #0889c6 100%);
	margin: 0;
	/*background-repeat: no-repeat;*/
	font-family: 'Open Sans', sans-serif;
	/*background-size: cover;*/
	font-size: 14px;
	position: relative;
}

a {
	text-decoration: none;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	padding: 0 5vw;
	height: 100%;
}

header {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* margin-top: 15px; */
	z-index: 1;
	width: 100%;
	padding: 10px 0;
}

header .logo img {
	width: 10vw;
}

.logo  {
	margin-left: 5vw;
}

.country {
	margin-right: 5vw;
}


.country img{
	width: 10vw;
}

.upperPart {
	display: flex;
	flex-direction: column;
	background-color: #1b2b5d;
	background-image: -webkit-linear-gradient(292deg, #1b2b5d 25%, #0889c6 100%);
	background-image: -o-linear-gradient(292deg, #1b2b5d 25%, #0889c6 100%);
	background-image: linear-gradient(22deg, #1b2b5d 25%, #0889c6 100%);
}

.menuHolder{
	display: flex;
	flex-direction: row;
	

}

.left {
	width: 40%;
	display: flex;
	padding-left: 5vw;
	flex-direction: column;
}

.left img {
	width: 45em;
	z-index: 1;
	margin-top: 50px;
}

.buttons {
	width: 40%;
	display:  flex;
	flex-direction:  row;
	justify-content:  space-between;
}


.buttons a {
	color: white;
	border: 2px solid white;
	border-radius: 7px;
	padding: 2px;
	font-size: 14px;
	font-weight:  bold;
}

.left .desc {
	color: white;
	margin: 20px 0;
}

.right {
	width: 60%;
}


.right ul {
	
list-style-type: none;
	
height: 100%;
	
width: 100%;
	
z-index: -1;
	
-webkit-clip-path: polygon(100% 0, 100% 81%, 0 60%, 0 48%, 66% 0);
clip-path: polygon(100% 0, 100% 81%, 0 60%, 0 48%, 66% 0);
	
padding: 0;
	
margin: 0;
	}

.right li {
	text-decoration: none;
	height: 150px;
	width: 100%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	cursor: pointer;
 
}


.right li:hover {
	opacity: .4;
	/*-webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;*/
}


.school {
	background: url(../img/school.png) no-repeat center center;
}

.visor {
	background: url(../img/visor.png) no-repeat center center;
}

.hands {
	background: url(../img/hands.png) no-repeat center center;
}

.campanella {
	background: url(../img/campanella.png) no-repeat center center;
}

.right img {
	height: 100%;
	width: 100%;
}

.arrow {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	padding: 5px 0;
}

.arrow i {
	color: white;
	opacity: .5;
}

.slider .item {
	display: flex;
	flex-direction: column;
	padding: 10px;

}

.slider .item .upper {
	display: flex;
	flex-direction: row;

}

.slider .item .upper .desc{
	display: flex;
	flex-direction: column;
	width: 35%;
	color: white;
}

.slider .item .upper .desc h3{
	width: 60%;
	color: #0caee5;
	font-size: 26px;
}

.slider .item4 .upper .desc h3{
	width: 70%;
}

.slider .item2 .upper .desc h3{
	width: 80%;
	color: #0caee5;
	font-size: 24px;
	margin-bottom: 24px;
}

.slider .item .upper .desc h3 span{
	color: white;
	font-size: 22px;
}

.slider .item .upper .desc p {
	margin: 0;
}

.slider .item .upper .infografia {
	width: 60%;	
	margin-left: 15px;
	margin-top: 80px;
}

.slider .item2 .upper .infografia {
	
	margin-top: 50px;
}

.slider .item3 .upper .infografia {
	
	margin-top: 0;
}

.slider .item .upper .infografia img{
	width: 100%;	
}

.slider .item2 .upper .infografia img{
	width: 90%;
	margin-left: 40px;	
}

.slider .item3 .upper .infografia img{
	width: 55%;
	margin-left: 90px;	
}


.slider .item .lower {
	display: flex;
	flex-direction: column;	
}

.slider .item .lower h4{
	color: white;
	font-size: 30px;
}

.slider .item .lower  .circulos{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items:  center;
}

.slider .item .lower  .circulos .holder{
	
}


.slider .item .lower .circulos .circItem{
	display: flex;
	flex-direction: column;
	color: white;
	width: 16%;
	border: 2px dashed white;
	border-radius: 100%;
	height: 180px;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 12px;
	padding: 15px;
}

.slider .item .lower .circulos .circItem:first-child {
	margin-left: 50px;
}



.slider .item .lower  .circulos .circItem span{
	color: #0caee5;
	font-size: 20px;
	font-weight: bold;
}

.slider .item .lower .circulos img{
	width: 40%;	
	height: 50%;
	-webkit-clip-path: polygon(0 0, 100% 0%, 99% 100%, 4% 91%);
	clip-path: polygon(0 0, 100% 0%, 99% 100%, 4% 91%);
	margin-left: 50px;
}

.slider .item3 .lower .circulos img,
.slider .item2 .lower .circulos img{
	margin-left: 0;
}


.slider .item2 .lower .circulos .congres1 {
	width: 30%;	
	height: 40%;
	-webkit-clip-path: polygon(3% 3%, 100% 0%, 95% 88%, 1% 96%);
	clip-path: polygon(3% 3%, 100% 0%, 95% 88%, 1% 96%);
}


.slider .item2 .lower .circulos .congres2 {
	width: 40%;	
	height: 50%;
	-webkit-clip-path: polygon(0 14%, 100% 0%, 96% 95%, 0 100%);
	clip-path: polygon(0 14%, 100% 0%, 96% 95%, 0 100%);
}

.slider .item3 .lower .circulos .cine1{
	width: 30%;	
	height: 40%;
	-webkit-clip-path: polygon(0 0, 100% 0%, 97% 97%, 8% 98%);
	clip-path: polygon(0 0, 100% 0%, 97% 97%, 8% 98%);
}

.slider .item3 .lower .circulos .cine2 {
	width: 40%;	
	height: 50%;
	-webkit-clip-path: polygon(0 7%, 100% 0%, 97% 95%, 4% 100%);
	clip-path: polygon(0 7%, 100% 0%, 97% 95%, 4% 100%);
}

.slider .item4 .lower .circulos .volun1 {
	width: 40%;	
	height: 50%;
	-webkit-clip-path: polygon(0 7%, 100% 0%, 96% 100%, 4% 100%);
	clip-path: polygon(0 7%, 100% 0%, 96% 100%, 4% 100%);
}


.slider .item .lower .testimonios{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px 60px;
}

.slider .item .lower .testimonios .testItem {
	display: flex;
	flex-direction: row;
	color: white;
	width: 45%;
	font-size: 12px;
}

.slider .item3 .lower .testimonios .testItem {
	
	width: 60%;
	
}
.slider .item .lower .testimonios .testItem .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slider .item .lower .testimonios .testItem .text span{
	
}

.slider .item .lower .testimonios .testItem .text em{
	font-size: 14px;
}
.slider .item .lower .testimonios .testItem img {
	width: 35%;
	border-radius: 100%;
	height: 160px;
	/*margin: 0 20px;*/
}

.slider .item3 .lower .testimonios .testItem img {
	width: 70%;
	height: 175px;
}



.footer {
	display: flex;
	flex-direction: row;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	background-color: #1b2b5d;
	background-image: -webkit-linear-gradient(358deg, #1b2b5d 0%, #0889c6 50%);
	background-image: -o-linear-gradient(358deg, #1b2b5d 0%, #0889c6 50%);
	background-image: linear-gradient(88deg, #1b2b5d 0%, #0889c6 50%);
	padding: 5px 5vw;
	
}

.footer .social a {
	color: white;
	font-size: 14px;
	padding: 0 10px;
}

.footer .reports {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 12px;
}

.footer .reports .years{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}


.footer .reports .years a{
	padding: 0 5px;
	color: white;
}

.footer .bRight {
	border-right: 1px solid white;

}