.upperMobile .menuHolder {
	
flex-direction:  column;
	
align-items:  center;
	
padding-top: 40px;
}

.upperMobile .menuHolder img {
	
width: 75%;
	
margin-top: 25px;
}

.upperMobile .menuHolder .buttons {
	
justify-content: center;
}

.upperMobile .menuHolder .desc {
	
justify-content: center;
	
margin-top: 10px;
width: 80%;
}

.sliderMob .slick-prev,
.upperMobile .slick-prev {
    left: 5px;
    z-index: 1;
}

.sliderMob .slick-next,
.upperMobile .slick-next {
    right: 5px;
}

.upperMobile .slick-dots {
	display: none !important;
}

.itemMob {

}

.itemMob .desc {
	color: white;
    margin: 50px 0;
    width: 90%;
}

.upperMobile h3{
	color: #0caee5;
	font-weight: 800;
	font-size: 43px;
	width: 75%;
	/* margin-top: 85px; */
	line-height: 50px;
	border-radius: 4px;
}

.upperMobile h3 span{
	color: white;
	
}


@media only screen and (max-width: 768px) {
	
	.mainContainer,
	.upperPart {
	 	display: none;
	}

	
	.sliderMob,
	.upperMobile,
	.mainContainerMob,
	.menu-bar {
		display: flex;
	}

	
	.mainContainerMob {
		flex-direction: column;
		padding: 0 5vw;
		height: 100%;
		background: url(../img/lineas.png) no-repeat center center;
	}

	.footer {

flex-direction:  column;

height: 15vh;

justify-content:  center;

}

	.footer .social {
		
margin: 10px 0;
	}
	
.footer .social a{
		font-size: 16px;
	}
		
header .logo img {
    width: 25vw;
}

.country img {
	width: 20vw;
}	

}


@media only screen and (min-width: 768px) and (max-width: 1024) {
	
	.left img {
	    width: 20em;
	}
}

